.navbar-app {
  z-index: 999;
  background-image: none;
}

.navbar-homepage, .user-navbar {
  border: none !important;
}

.navbar-homepage {
  background-color: green !important; 
}

.navbar-app { /*this is the top bar for desktop*/
  background-color: midnightblue !important; 
  height: 70px;
}

.navbar-header { /*this is the top bar for mobile*/
  height: 70px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:visited {
  color: #AAA;
  padding-top: 25px !important;
  padding-bottom: 0 !important;
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav>li>a:active,
  .navbar-default .navbar-nav>li>a:visited {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #2c3e50;
    border-bottom: 1px solid white;
    border-radius: 3px;
  }
}

@media screen and (min-width: 767px) {
  .top-menu-links {
    position: absolute;
    right: 0px;
  }
}

.navbar-app-link {
  a {
    color: black !important;
    font-size: 300px !important;
    &:hover {
      opacity: 0.8 !important;
    }
    &:focus {
      outline: none;
    }
  }
}

a.navbar-app-link,
a.navbar-app-link:hover,
a.navbar-app-link:visited,
a.navbar-app-link:active {
  display: block;
  color: #AAA;
  text-decoration: none;
}

.navbar-default {
  width: 100vw !important;
  margin: 0 !important;
  position: fixed !important;
  left: 0;
  top: 0;
  border-radius: 0;
  border: none;
}

.app-name {
  cursor: pointer; 
}

.main-logo {
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  height: 80px;
}

.app-name {
  position: absolute;
  top: 18px; /*this aligns the bottom of the site-name with the bottom of the mobile menu button in mobile view */
  left: 90px; /*the logo is 60px + 5px margins on each side*/
  font-family: Righteous;
  color: white !important;
  font-size: 20px !important;
}

/*.navbar-brand {
  font-family: Righteous;
  color: white !important;
  font-size: 20px !important;
  display: inline-block;
  padding: 22px 35px !important;
}*/

.navbar-toggle { /*this is the mobile menu button */
  background-color: midnightblue !important;
  border-color: white !important;
  height: 46px;
  width: 46px;
  margin-top: 12px; /*container (top bar) height is 70px*/
  padding: 0; /*this is so that the three inner lines don't get off vertical alignment */ 
}

.navbar-collapse {
  border-color: black !important;
}

.icon-bar {  /* these are the three horizontal lines insinde the mobile menu button */
  background-color: white !important;
  height: 3px !important;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
}

.right-link{
  font-size: 16px !important;
  a {
     color: green !important;
     &:hover {
        opacity: 0.8; 
     }
     &:focus {
        outline: none;
     }
  }
}

.container {
  width: 98% !important; 
}

.logo {
  width: 28px;
}

.logo-container {
  position: absolute;
  top: 9px; 
  left: 180px; 
}